@page "/"

<PageTitle>Home</PageTitle>

<h1>Instalando Webpage PWA</h1>

<MudButton onclick="(() => InstallApp())" Disabled="@visibleDialogInstallApp" Variant="Variant.Filled" Color="Color.Primary">Instalar App</MudButton>
